.app-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px; /* Reduce footer height */
  background-color: #e6f0ff; /* Light pastel blue */
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem; /* Smaller font size */
  box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.05);
  z-index: 1000;
}

.footer-content p {
  margin: 0; /* Remove any default margin */
}

